/*-----------------------------------*\
  #GET START
\*-----------------------------------*/

.get-start .section-title {
    margin-bottom: 25px;
}

.get-start-list {
    display: grid;
    gap: 20px;
}

.get-start-card {
    background: var(--white);
    padding: 20px;
    border-radius: var(--radius-18);
    border: 1px solid var(--white);
    transition: var(--transition);
}

.get-start-card:hover {
    background: var(--alice-blue-2);
    box-shadow: var(--shadow-1);
}

.get-start-card .card-icon {
    background: var(--icon-card-bg, var(--columnia-blue));
    color: var(--icon-card-color, var(--carolina-blue));
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-14);
    margin-bottom: 20px;
}

.get-start-card .card-icon ion-icon {
    font-size: 26px;
    --ionicon-stroke-width: 45px;
}

.get-start-card .icon-1 {
    --icon-card-bg: var(--mimi-pink);
    --icon-card-color: var(--deep-cerise);
}

.get-start-card .icon-2 {
    --icon-card-bg: var(--columbia-blue);
    --icon-card-color: var(--carolina-blue);
}

.get-start-card .icon-3 {
    --icon-card-bg: var(--honey-dew);
    --icon-card-color: var(--medium-sea-green);
}

.get-start-card .icon-4 {
    --icon-card-bg: var(--pale-purple-pantone);
    --icon-card-color: var(--slate-blue);
}

.get-start-card .card-title {
    color: var(--space-cadet);
    font-family: var(--ff-nunito);
    font-weight: var(--fw-400);
    margin-bottom: 15px;
}

.get-start-card .card-text {
    color: var(--independence);
}

.get-start-card .card-link {
    position: relative;
    color: var(--carolina-blue);
    width: max-content;
}

.get-start-card .card-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--carolina-blue);
    transition: var(--transition);
}

.get-start-card .card-link:is(:hover, :focus)::before {
    width: 100%;
}





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog .section-title {
    margin-bottom: 30px;
}

.blog-card {
    background: var(--alice-blue-2);
    border-radius: var(--radius-18);
    border: 1px solid var(--white);
    box-shadow: var(--shadow-1);
    overflow: hidden;
}

.blog-card .card-banner {
    aspect-ratio: 3 / 2;
    position: relative;
    overflow: hidden;
}

.blog-card .card-banner a:first-child {
    height: 100%;
}

.blog-card .card-banner img {
    height: 100%;
    object-fit: cover;
}

.blog-card .card-badge {
    position: absolute;
    bottom: 20px;
    left: 20px;
    --height: 30px;
    --width: 92px;
}

.blog-card .card-content {
    padding: 20px;
}

.blog-card .card-title {
    margin-bottom: 20px;
}

.blog-card .card-title>a {
    color: inherit;
}

.blog-card .card-title>a:is(:hover, :focus) {
    color: var(--carolina-blue);
}

.blog-card .card-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-card :is(.publish-date, .comments) {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--fs-6);
    color: var(--independence);
}

.blog-card :is(.publish-date, .comments) ion-icon {
    font-size: 15px;
    --ionicon-stroke-width: 50px;
}

.blog .has-scrollbar {
    display: flex;
    gap: 20px;
    scroll-snap-type: inline mandatory;
    overflow-x: auto;
    padding-bottom: 20px;
}

.blog .has-scrollbar>li {
    flex-shrink: 0;
    max-width: 330px;
    width: 100%;
    scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar-track {
    background: var(--alice-blue-1);
    outline: 2px solid var(--carolina-blue);
    border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    border-color: var(--alice-blue-1);
    background: var(--carolina-blue);
    border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-button {
    width: calc(25% - 40px);
}